<li class="list-group-item">
    <div class="custom-checkbox">
        <input type="checkbox" id="cbx" @bind="TodoItemModel.IsDone">
        <label for="cbx">@TodoItemModel.Title</label>
    </div>
</li>

@code {
    [Parameter]
    public ViewModel.TodoItem.ListView TodoItemModel { get; set; } = new ViewModel.TodoItem.ListView();
}

