<li class="list-group-item">
    <input type="checkbox" @bind="TodoItemModel.IsDone">
    @TodoItemModel.Title
</li>

@code {
    [Parameter]
    public ViewModel.TodoItem.ListView TodoItemModel { get; set; } = new ViewModel.TodoItem.ListView();
}
